body {
	background-color: blue;
}

span {
	background-color: gray;
}


h3 {
	color: white;
	text-align: center;
	/*margin-inline-end: 300px;
    margin-inline-start: 300px;*/
}

p,ul {
	 color:white;
	 font-size:20px;
	 font-family:monospace;
	 text-align: left;
	 margin-inline-end: 100px;
    margin-inline-start: 100px;
}

.prompt {
	text-align: right;
}