        <div class="block">
		<center>This code was nicked from Apaxy V2<br> it's inside the 'block'-div</center>
        </div><!--/.postlisting-->

	<h2> this is outside block- but still inside wrapper-div.</h2>		
</div><!--/.wrapper-->

<h2>Outside all div now, here's php </h2>


<?php
echo "<br><div><p>here's some php-generated text (I hope)</p></div>";
?>
<br>
<?php
echo "<br><address> Apache/2.4.38 (Debian) Server at IP localhost Port xy</address>";
?>

<div class="footer">
	<h2>Footer class-div</h2>
</div><!--/.footer-->
